{{define "calculator"}}
<section id="calculator">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 green">
                <h2 class="section-heading text-center">Footprint Calculator</h2>
                <hr class="primary">
                <div class="container-fluid">

                    {{ if .CalcResult }}
                    {{ $s := .CalcResult }}
                    <div class="card">
                        <h4 class="card-header">Here are your Calculator Results</h4>
                        <div class="card-body">
                            <h4 class="card-title">Your score is (100% is best): </h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: {{$s}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{$s}} %</div>
                            </div>
                            <h4 class="card-title">Swedish Law prescribes:</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">20 %</div>
                            </div>
                            <h4 class="card-title">2020 Goal is: </h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">30 %</div>
                            </div>
                            <h4>Att tänka pa:</h4>
                            <!------------>
                            {{ range $r := .CalcRecomm }}
                            <h4 class="card-title">Question X</h4>
                            <p class="card-text">{{$r}}</p>
                            <!------------>
                            {{ end }}
                            <!-- Target -->
                            <p>You can access your result anytime via this link:</p>
                            <input id="resultlink" class="w-50" value="http://localhost:8888/result/{{.ResultLinkSend}}">

                            <!-- Trigger -->
                            <button class="btn btn-secondary" id="copy-button" data-clipboard-target="#resultlink" style="cursor: pointer;">
                                <img src="static/img/clippy.svg" width="13" alt="Copy to clipboard">
                            </button>

                        </div>
                    </div>


                    {{ else }}
                    <!--Start part of quiz-->
                    <div class="calc-card text-center" id="Question0" >
                        <div class="tab-content">
                            <div class="row">
                                <div class="col">
                                    <p>Detta är en Kalkylator som ger dig svar på hur pass miljövänlig du är. Svara på dessa
                                    tio frågor för att få reda på din påverkan på miljön. Kanske får du några tips på
                                    saker du kan göra bättre eller tänka på.
                                    </p>
                        <button type="button" class="btn btn-primary btn-lg" onclick="changeCard(0,'next')">Start Quiz</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ end }}

                    <!--progress-bar-->
                    <div class="progress" id="pro" style="height: 20px; display:none;">
                        <div class="progress-bar" id="probar" role="progressbar" style="height: 2rem;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <!-- Question 1-->
                    <form method="post" action="/calculator">
                        {{ range $q := .CalcSend }}
                        <div class="calc-card" id="Question{{$q.ID }}" style="display: none;">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h4 class="d-flex justify-content-center mt-3">{{ $q.Question }}</h4>
                                    <div id="accordion{{$q.ID}}" role="tablist">

                                        <!--https://codepen.io/shub1427/pen/ZpayrV-->
                                        {{ if $q.Option01 }}
                                        <div class="card">
                                            <div class="card-header" role="tab" id="heading1">
                                                <h5 class="mb-0">
                                                    <label for="r_{{$q.ID}}_1">
                                                        <input id="r_{{$q.ID}}_1" type="radio" name="Question{{ $q.ID }}" value="1">
                                                        {{$q.Option01}}
                                                        <a class="collapsed" data-toggle="collapse" href="#collapse{{$q.ID}}_1" aria-expanded="false" aria-controls="#collapse{{$q.ID}}_1">
                                                        </a>
                                                    </label>
                                                </h5>
                                            </div>
                                            <div id="collapse{{$q.ID}}_1" class="collapse" role="tabpanel" aria-labelledby="heading1" data-parent="#accordion{{$q.ID}}">
                                                <div class="card-body">{{$q.Recomm1}}</div>
                                            </div>
                                        </div>
                                        {{ end }}

                                        {{ if $q.Option02 }}
                                        <div class="card">
                                            <div class="card-header" role="tab" id="heading2">
                                                <h5 class="mb-0">
                                                    <label for="r_{{$q.ID}}_2">
                                                        <input id="r_{{$q.ID}}_2" type="radio" name="Question{{ $q.ID }}" value="2">
                                                        {{$q.Option02}}
                                                        <a class="collapsed" data-toggle="collapse" href="#collapse{{$q.ID}}_2" aria-expanded="false" aria-controls="#collapse{{$q.ID}}_2">
                                                        </a>
                                                    </label>
                                                </h5>
                                            </div>
                                            <div id="collapse{{$q.ID}}_2" class="collapse" role="tabpanel" aria-labelledby="heading2" data-parent="#accordion{{$q.ID}}">
                                                <div class="card-body">{{$q.Recomm2}}</div>
                                            </div>
                                        </div>
                                        {{ end }}

                                        {{ if $q.Option03 }}
                                        <div class="card">
                                            <div class="card-header" role="tab" id="heading3">
                                                <h5 class="mb-0">
                                                    <label for="r_{{$q.ID}}_3">
                                                        <input id="r_{{$q.ID}}_3" type="radio" name="Question{{ $q.ID }}" value="3">
                                                        {{$q.Option03}}
                                                        <a class="collapsed" data-toggle="collapse" href="#collapse{{$q.ID}}_3" aria-expanded="false" aria-controls="#collapse{{$q.ID}}_3">
                                                        </a>
                                                    </label>
                                                </h5>
                                            </div>
                                            <div id="collapse{{$q.ID}}_3" class="collapse" role="tabpanel" aria-labelledby="heading3" data-parent="#accordion{{$q.ID}}">
                                                <div class="card-body">{{$q.Recomm3}}</div>
                                            </div>
                                        </div>
                                        {{ end }}

                                        {{ if $q.Option04 }}
                                        <div class="card">
                                            <div class="card-header" role="tab" id="heading4">
                                                <h5 class="mb-0">
                                                    <label for="r_{{$q.ID}}_4">
                                                        <input id="r_{{$q.ID}}_4" type="radio" name="Question{{ $q.ID }}" value="4">
                                                        {{$q.Option04}}
                                                        <a class="collapsed" data-toggle="collapse" href="#collapse{{$q.ID}}_4" aria-expanded="false" aria-controls="#collapse{{$q.ID}}_4">
                                                        </a>
                                                    </label>
                                                </h5>
                                            </div>
                                            <div id="collapse{{$q.ID}}_4" class="collapse" role="tabpanel" aria-labelledby="heading4" data-parent="#accordion{{$q.ID}}">
                                                <div class="card-body">{{$q.Recomm4}}</div>
                                            </div>
                                        </div>
                                        {{ end }}

                                    </div>
                                </div>
                            </div>

                            <div class="row d-flex justify-content-between mt-3">
                                <button type="button" class="btn btn-primary" {{if eq $q.ID 1}}disabled{{else}}onclick="changeCard({{$q.ID}},'prev')"{{end}}><i class="fa fa-arrow-left" aria-hidden="true"></i>
                                    Prev
                                </button>
                                {{if eq $q.ID 10}}
                                <button type="submit" class="btn btn-primary" onclick="changeCard({{$q.ID}}, 'next')">Submit <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </button>
                                {{else}}
                                <button type="button" class="btn btn-primary" onclick="changeCard({{$q.ID}}, 'next')">Next <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </button>
                                {{end}}
                            </div>
                        </div>
                        {{ end }}
                    </form>
                </div>
            </div>
        </div>
</section>

{{end}}
