{{define "calculator"}}
<section id="calculator">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 green">
                <h2 class="section-heading text-center">Hållbarhetsquiz</h2>
                <hr class="primary">
                <div class="container-fluid">

                    {{ if .CalcResult }}
                    {{ $s := .CalcResult }}
                    <div class="card">
                        <h4 class="card-header">Ditt resultat</h4>
                        <div class="card-body">
                            <h4 class="card-title">Slutresultat: </h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: {{$s}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{$s}} %</div>
                            </div>
                            <p><h4>Att tänka på:</h4><p>
                            <!------------>
                            {{ range $r := .CalcRecomm }}
                            <p class="card-text">{{$r}}</p>
                            <!------------>
                            {{ end }}
                            <!-- Target -->
                            <h5>Share your result:</h5>
                            <input id="resultlink" class="w-50" value="http://87.239.250.228/result/{{.ResultLinkSend}}">
                            <!-- Trigger -->
                            <button class="btn btn-secondary" id="copy-button" data-clipboard-target="#resultlink" style="cursor: pointer;">
                                <img src="static/img/clippy.svg" width="13" alt="Copy to clipboard">
                            </button>
                            <p><a href="whatsapp://send" data-text="Check out my ECO results on this website!" data-href="http://87.239.250.228/result/{{.ResultLinkSend}}" class="wa_btn wa_btn_s" style="display:none">Share</a></p>

                        </div>
                    </div>


                    {{ else }}
                    <!--Start part of quiz-->
                    <div class="calc-card text-center" id="Question0" >
                        <div class="tab-content">
                            <div class="row">
                                <div class="col">
                                    <p>Quizet består av 10 frågor om vardagen. Beroende på svar tilldelas poäng, ju högre poäng desto miljövänligare är din vardag. Tanken är att öka medvetenheten om hur enkelt det kan vara att göra klimatsmarta val i sin egen vardag. </p>
                                    <button type="button" class="btn btn-primary btn-lg" onclick="changeCard(0,'next')" style="cursor: pointer;">Starta Quiz</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ end }}

                    <!--progress-bar-->
                    <div class="progress" id="pro" style="height: 20px; display:none;">
                        <div class="progress-bar" id="probar" role="progressbar" style="height: 2rem;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <!-- Question 1-->
                    <form method="post" action="/calculator">
                        {{ range $q := .CalcSend }}
                        <div class="calc-card" id="Question{{$q.ID }}" style="display: none;">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h4 class="d-flex justify-content-center mt-3">{{ $q.Question }}</h4>
                                    <div id="accordion{{$q.ID}}" role="tablist">

                                        <!--https://codepen.io/shub1427/pen/ZpayrV-->
                                        {{ if $q.Option01 }}
                                        <div class="card">
                                            <div class="card-header" role="tab" id="heading1">
                                                <h5 class="mb-0">
                                                    <label for="r_{{$q.ID}}_1">
                                                        <input id="r_{{$q.ID}}_1" type="radio" name="Question{{ $q.ID }}" value="1">
                                                        {{$q.Option01}}
                                                        <a class="collapsed" data-toggle="collapse" href="#collapse{{$q.ID}}_1" aria-expanded="false" aria-controls="#collapse{{$q.ID}}_1">
                                                        </a>
                                                    </label>
                                                </h5>
                                            </div>
                                            <div id="collapse{{$q.ID}}_1" class="collapse" role="tabpanel" aria-labelledby="heading1" data-parent="#accordion{{$q.ID}}">
                                                <div class="card-body">{{$q.Recomm1}}</div>
                                            </div>
                                        </div>
                                        {{ end }}

                                        {{ if $q.Option02 }}
                                        <div class="card">
                                            <div class="card-header" role="tab" id="heading2">
                                                <h5 class="mb-0">
                                                    <label for="r_{{$q.ID}}_2">
                                                        <input id="r_{{$q.ID}}_2" type="radio" name="Question{{ $q.ID }}" value="2">
                                                        {{$q.Option02}}
                                                        <a class="collapsed" data-toggle="collapse" href="#collapse{{$q.ID}}_2" aria-expanded="false" aria-controls="#collapse{{$q.ID}}_2">
                                                        </a>
                                                    </label>
                                                </h5>
                                            </div>
                                            <div id="collapse{{$q.ID}}_2" class="collapse" role="tabpanel" aria-labelledby="heading2" data-parent="#accordion{{$q.ID}}">
                                                <div class="card-body">{{$q.Recomm2}}</div>
                                            </div>
                                        </div>
                                        {{ end }}

                                        {{ if $q.Option03 }}
                                        <div class="card">
                                            <div class="card-header" role="tab" id="heading3">
                                                <h5 class="mb-0">
                                                    <label for="r_{{$q.ID}}_3">
                                                        <input id="r_{{$q.ID}}_3" type="radio" name="Question{{ $q.ID }}" value="3">
                                                        {{$q.Option03}}
                                                        <a class="collapsed" data-toggle="collapse" href="#collapse{{$q.ID}}_3" aria-expanded="false" aria-controls="#collapse{{$q.ID}}_3">
                                                        </a>
                                                    </label>
                                                </h5>
                                            </div>
                                            <div id="collapse{{$q.ID}}_3" class="collapse" role="tabpanel" aria-labelledby="heading3" data-parent="#accordion{{$q.ID}}">
                                                <div class="card-body">{{$q.Recomm3}}</div>
                                            </div>
                                        </div>
                                        {{ end }}

                                        {{ if $q.Option04 }}
                                        <div class="card">
                                            <div class="card-header" role="tab" id="heading4">
                                                <h5 class="mb-0">
                                                    <label for="r_{{$q.ID}}_4">
                                                        <input id="r_{{$q.ID}}_4" type="radio" name="Question{{ $q.ID }}" value="4">
                                                        {{$q.Option04}}
                                                        <a class="collapsed" data-toggle="collapse" href="#collapse{{$q.ID}}_4" aria-expanded="false" aria-controls="#collapse{{$q.ID}}_4">
                                                        </a>
                                                    </label>
                                                </h5>
                                            </div>
                                            <div id="collapse{{$q.ID}}_4" class="collapse" role="tabpanel" aria-labelledby="heading4" data-parent="#accordion{{$q.ID}}">
                                                <div class="card-body">{{$q.Recomm4}}</div>
                                            </div>
                                        </div>
                                        {{ end }}

                                    </div>
                                </div>
                            </div>

                            <div class="row d-flex justify-content-between mt-3">
                                <button type="button" class="btn btn-primary" {{if eq $q.ID 1}}disabled{{else}}onclick="changeCard({{$q.ID}},'prev')"{{end}}><i class="fa fa-arrow-left" aria-hidden="true"></i>
                                    Prev
                                </button>
                                {{if eq $q.ID 10}}
                                <button type="submit" class="btn btn-primary" onclick="changeCard({{$q.ID}}, 'next')">Submit <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </button>
                                {{else}}
                                <button type="button" class="btn btn-primary" onclick="changeCard({{$q.ID}}, 'next')">Next <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </button>
                                {{end}}
                            </div>
                        </div>
                        {{ end }}
                    </form>
                </div>
            </div>
        </div>
</section>

{{end}}
