{{define "footer"}}

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center green">
                <h2 class="section-heading">Contact</h2>
                <hr class="primary">
                <p>Copyright(c) SIMS course 2017 Sundsvall city planing office</p>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/js/jquery.easing.min.js"></script>
    <script src="static/js/scrollreveal.min.js"></script>
    <script src="static/js/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/creative.min.js"></script>
    <script src="static/js/jquery.rwdImageMaps.min.js"></script>

    <script>
$(document).ready(function(e) {
    jQuery(function(){
        jQuery('.showStage1').click(function(){
            jQuery('.card').hide();
            jQuery('.targetStage1').show();
        });
        jQuery('.showStage2').click(function(){
            jQuery('.card').hide();
            jQuery('.targetStage2').show();
        });
        jQuery('.showStage2').click(function(){
            jQuery('.card').hide();
            jQuery('.targetStage2').show();
        });
        jQuery('.showStage3').click(function(){
            jQuery('.card').hide();
            jQuery('.targetStage3').show();
        });
        jQuery('.showStage4').click(function(){
            jQuery('.card').hide();
            jQuery('.targetStage4').show();
        });
        jQuery('.showStage5').click(function(){
            jQuery('.card').hide();
            jQuery('.targetStage5').show();
        });
        jQuery('.showStage6').click(function(){
            jQuery('.card').hide();
            jQuery('.targetStage6').show();
        });
        $('img[usemap]').rwdImageMaps();
    });
});
    </script>

    <script>
    
    function changeCard(quest){
        var maxquest = 10;
        var parentpro = document.getElementById("pro");
        var childpro = document.getElementById("probar");
        var cards = document.getElementsByClassName("calc-card");
        for (var i = 0; i <cards.length; i++ ){
            cards[i].style.display = "none";
        }
        var newCard = document.getElementById(quest);
        newCard.style.display = "block";  
        parentpro.style.display = "block";
        w = quest / maxquest * 100;
        childpro.innerText = quest + "/" + maxquest; 
        childpro.style.width = w + "%";

    }    
    </script>

    {{end}}
