{{define "model"}}

<section id="model">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center green">
                <h2 class="section-heading">House Model</h2>
                <hr class="primary">


                <div id="carouselExampleControls" href="#Indicator" class="carousel slide">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img src="static/img/foundation.png" alt="" width="90%" height="520px" /> </div>
                        <div class="carousel-item">
                                <img src="static/img/framework.png" alt="" width="90%" height="520px"/>
                        </div>
                        <div class="carousel-item">
                                <img src="static/img/ph3.png" alt="" />
                        </div>
                        <div class="carousel-item">
                                <img src="static/img/ph4.png" alt="" />
                        </div>
                        <div class="carousel-item">
                                <img src="static/img/ph5.png" alt="" />
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                </div>
               
                <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-stage-1" data-toggle="pill" href="#pills-stage-1" role="tab" aria-controls="pills-stage-1"
                            aria-selected="true"><i class="fa fa-home fa-3x" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-stage-2" data-toggle="pill" href="#pills-stage-2" role="tab" aria-controls="pills-stage-2"
                            aria-selected="false"><i class="fa fa-home fa-3x" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-stage-3" data-toggle="pill" href="#pills-stage-3" role="tab" aria-controls="pills-stage-3"
                            aria-selected="false"><i class="fa fa-home fa-3x" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-stage-4" data-toggle="pill" href="#pills-stage-4" role="tab" aria-controls="pills-stage-4"
                            aria-selected="false"><i class="fa fa-home fa-3x" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-stage-5" data-toggle="pill" href="#pills-stage-5" role="tab" aria-controls="pills-stage-5"
                            aria-selected="false"><i class="fa fa-home fa-3x" aria-hidden="true"></i></a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    </div>
</section>


{{template "calculator" .}} {{end}}