{{define "model"}}

<section id="model">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center green">
                <h2 class="section-heading">Hus Modell</h2>
                <hr class="primary">
                <p>Detta verktyg kan du använda för att lära dig mer om hur du skall gå till väga för att bygga ditt hus.</p>

                <div class="row">
                    <div class="col-lg-9">
                        <!--Model pictures-->
                        <div id="cf">
                            <img class='opaque mw-100 rounded' src="static/img/model/1.png" />
                            <img class='mw-100 rounded' src="static/img/model/2.png" />
                            <img class='mw-100 rounded' src="static/img/model/3.png" />
                            <img class='mw-100 rounded' src="static/img/model/4.png" />
                            <img class='mw-100 rounded' src="static/img/model/5.png" />
                            <img class='mw-100 rounded' src="static/img/model/6.png" />
                        </div>
                        <p id="cf_controls" class="mb-3 justify-content-center">
                            <span class="selected" onclick="change(1)">1</span>
                            <span onclick="change(2)">2</span>
                            <span onclick="change(3)">3</span>
                            <span onclick="change(4)">4</span>
                            <span onclick="change(5)">5</span>
                            <span onclick="change(6)">6</span>
                        </p>
                    </div>

                    <div class="col-lg-3">
                        <div id="accordion" role="tablist">
                            <div id="1" class="card bg-light mb-3" style="max-width: 20rem;">
                                <div class="card-header">Grund</div>
                                <div class="card-body">
                                    <div role="tab" id="headingOne">
                                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <h5>Viktigt att veta</h5>
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                        <!--<span class="badge badge-success">Cost</span> <span class="badge badge-danger">Easy</span>-->
                                        <p>När du börjar bygga ett hus måste varje aspekt vara bestämt. På byggtillståndet måste
                                            du beskriva fasaden, taket och vilka material samt färger som skall användas.
                                            Dessutom måste du veta varifrån du kan få vatten, hur avlopp och stormvatten
                                            kan tömmas. Att bygga grunden är det första steget för att bygga ett hus. De
                                            behövs för att: adsorbera belastningen på strukturen, överför lasten till jorden,
                                            stabilisera huset mot jorden.</p>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <div role="tab" id="headingTwo">
                                        <a data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                            <h5>Husgrund</h5>
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                                        <!--<span class="badge badge-success">Cost</span> <span class="badge badge-danger">Easy</span>-->
                                        <p>Det finns flera sätt att bygga en husgrund. Här är några exempel på vad du kan använda
                                            dig av:
                                        </p>
                                        <ul>
                                            <li>Sockel</li>
                                            <li>Upphängd fundament</li>
                                            <li>Bottenplatta</li>
                                        </ul>
                                        <p>Valet av material för grunden är beroende av storleken på huset. Innan du börjar
                                            bygga din grund måste du kolla jordens tillstånd. Vilken slags mark kommer huset
                                            byggas på, lera, sand, grus etc.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="accordion" role="tablist">
                            <div id="2" class="card bg-light mb-3" style="max-width: 20rem; display: none;">
                                <div class="card-header">Husstomme</div>

                                <div class="card-body">
                                    <div role="tab" id="headingFive">
                                        <a data-toggle="collapse" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                            <h5 class="card-title">Kort fakta</h5>
                                        </a>
                                    </div>
                                    <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
                                        <!--<span class="badge badge-success">Cost</span> <span class="badge badge-danger">Easy</span>-->
                                        <p class="card-text">
                                            Dem vanligaste materialen för att bygga husstommen är trä och betong. När det gäller kostnader förändras det int mycket.
                                            Stommen har till uppgift att stödja lasterna och transportera dem till grunden.
                                        </p>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <div role="tab" id="headingSix">
                                        <a data-toggle="collapse" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                                            <h5 class="card-title">Trästomme</h5>
                                        </a>
                                    </div>
                                    <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordion">
                                        <!--<span class="badge badge-success">Cost</span> <span class="badge badge-danger">Easy</span>-->
                                        <p class="card-text">
                                            Med tanke på hela produktionscykeln är det en besparing på cirka 60% av energin vid installationen jämfört med betong. Trästommar
                                            ger även utmärkt isolation, du kan minska isoleringstjockleken som krävs för
                                            väggarna. Trästommar ger vinst av större inre utrymme. På byggarbetsplatsen reduceras
                                            avfallet eftersom det är ett återvinningsbart material och kräver kortare byggtid.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="accordion" role="tablist">
                            <div id="3" class="card bg-light mb-3" style="max-width: 20rem; display: none;">
                                <div class="card-header">Väggar</div>

                                <div class="card-body">
                                    <div role="tab" id="headingSeven">
                                        <a data-toggle="collapse" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                                            <h5 class="card-title">Val av material</h5>
                                        </a>
                                    </div>
                                    <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven" data-parent="#accordion">
                                        <!--<span class="badge badge-success">Cost</span> <span class="badge badge-danger">Easy</span>-->
                                        <p class="card-text">
                                            Egenskaperna hos omkretsväggen måste vara:
                                        </p>
                                        <ul>
                                            <li>Värme och kyl motstånd</li>
                                            <li>Vindtrycksmotstånd</li>
                                            <li>Värmeisoleringsegenskaper</li>
                                            <li>Ljudisoleringsegenskaper</li>
                                            <li>Skydda mot fuktighet</li>
                                        </ul>
                                        <p>Du kan välja mellan vilka material väggarna skall byggas. Det viktigaste att för
                                            att bygga miljövänligt sätt är att ha en bra värmeisolering. Det finns flera
                                            olika material för att göra det.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="accordion" role="tablist">
                            <div id="4" class="card bg-light mb-3" style="max-width: 20rem; display: none;">
                                <div class="card-header">Tak</div>

                                <div class="card-body">
                                    <div role="tab" id="headingEight">
                                        <a data-toggle="collapse" href="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                                            <h5 class="card-title">Tak Dörrar Fönster</h5>
                                        </a>
                                    </div>
                                    <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight" data-parent="#accordion">
                                        <!--<span class="badge badge-success">Cost</span> <span class="badge badge-danger">Easy</span>-->
                                        <p class="card-text">
                                            Tak, dörrar och fönster är en av dem viktigaste punkterna för uppvärmningen av ett hus. Valet av dessa tre punkter kan påverka
                                            mängden förlorad värme.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div id="accordion" role="tablist">
                            <div id="5" class="card bg-light mb-3" style="max-width: 20rem; display: none;">
                                <div class="card-header">Överblick</div>
                                <div class="card-body">
                                    <div role="tab" id="headingNine">
                                        <a data-toggle="collapse" href="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
                                            <h5 class="card-title">Värmesystem</h5>
                                        </a>
                                    </div>
                                    <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine" data-parent="#accordion">
                                        <!--<span class="badge badge-success">Cost</span> <span class="badge badge-danger">Easy</span>-->
                                        <p class="card-text">
                                            Det finns olika sorters fördelar och nackdelar beroende på husets storlek och antalet personer som bor i huset. golvvärme,
                                            takvärme, klassisk uppvärmning med element/radiatorer. Dessa typer av uppvärmning
                                            kan associeras med pannor med olika funktionalitet och energieffektivitet.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>





                        <div id="accordion" role="tablist">
                        <div id="6" class="card bg-light mb-3" style="max-width: 20rem; display: none;">
                            <div class="card-header">Tomt</div>
                            <div class="card-body">
                                    <div role="tab" id="headingTen">
                                        <a data-toggle="collapse" href="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
                                            <h5 class="card-title">Solpaneler</h5>
                                        </a>
                                    </div>
                                    <div id="collapseTen" class="collapse" role="tabpanel" aria-labelledby="headingTen" data-parent="#accordion">
                                        <!--<span class="badge badge-success">Cost</span> <span class="badge badge-danger">Easy</span>-->
                                        <p class="card-text">
                                            Solpaneler kan fånga solljus och använda den för att värma upp till exempel vattnet.
                                            Varmvattnet lagras i en värmeisolerad tank.
                                            Ett uppvärmningssystem är dock predisponerat för tider när solljus är otillgängligt.
                                        </p>

                                    </div>
                                </div>
                        </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{end}}