{{define "pilot"}}

<section id="pilot">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center green">
                <h2 class="section-heading ">Pilot Projects</h2>
                <hr class="primary">

                <!-- Triggers that are used to display modal of 
                    all the four different pilot project houses-->
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <!--Trigger the first modal-->
                        <a data-toggle="modal" data-target=".bd-modal-lg-1">
                        <img class="mw-100" src="static/img/pilot/fullsize/first_preview.png" alt=""></a>

                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <!--Trigger the second modal-->
                        <a data-toggle="modal" data-target=".bd-modal-lg-2">
                        <img class="mw-100" src="static/img/pilot/fullsize/passiv_preview.png" alt=""></a>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-lg-6 col-sm-12">
                        <!--Trigger the third modal-->
                        <a data-toggle="modal" data-target=".bd-modal-lg-3">
                        <img class="mw-100" src="static/img/pilot/fullsize/third_preview.png" alt=""></a>
                    </div>

                    <div class="col-lg-6 col-sm-12">
                        <!--Trigger the modal-->
                        <a data-toggle="modal" data-target=".bd-modal-lg-4">
                        <img class="mw-100" src="static/img/pilot/fullsize/4.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Modal-->
    <div class="portfolio-modal modal fade bd-modal-lg-1" role="dialog">
        <!--Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Pilot project house</h4>
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <img class="mw-100" src="static/img/pilot/fullsize/first_preview.png" alt="">
                <p>byggnation av ett av husen från projektet Grönt Boende.</p>
            </div>
        </div>
    </div>
    
    <!--Modal-->
    <div class="portfolio-modal modal fade bd-modal-lg-2" role="dialog">
        <!--Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Pilot project house</h4>
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <img class="mw-100" src="static/img/pilot/fullsize/passiv_preview.png" alt="">
                <p>byggnation av ett av husen från projektet Grönt Boende.</p>
            </div>
        </div>
    </div>

    <!--Modal-->
    <div class="portfolio-modal modal fade bd-modal-lg-3" role="dialog">
        <!--Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Pilot project house</h4>
                <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl">
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-body">
                <img class="mw-100" src="static/img/pilot/fullsize/third_preview.png" alt="">
                <p>Detta är ett av de fyra husen som byggts inom Grönt boende projektet.</p>
            </div>
        </div>
    </div>
    
    <!--Modal-->
    <div class="portfolio-modal modal fade bd-modal-lg-4" role="dialog">
        <!--Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Pilot project house</h4>
                <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl">
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-body">
                <img class="mw-100" src="static/img/pilot/fullsize/4.jpg" alt="">
                <p>Detta är ett av de fyra husen som byggts inom Grönt boende projektet.</p>
            </div>
        </div>
    </div>           
</section>

{{template "search" .}} {{end}}