{{define "search"}}


<section id="search">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center green">
                <h2 class="section-heading ">Sök</h2>
                <hr class="primary">
                <p>
                Med denna sökmotor kan du hitta mer information angående hållbart byggande och hitta tips om hur du kan förbättrar din livsstil. 
                Söker du efter hur du kan sänka din energiförbrukning sök efter ordet energi. 
                </p>
                <form>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="searchinput" autocomplete="off" placeholder="Search..." onkeyup="showResult(this.value)">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" disabled><i class="fa fa-search" aria-hidden="true"></i></button>
                        </span>
                    </div>
               </form>
<div id="liveresults">
</div>
            </div>
</section>

{{end}}
