{{define "video"}}

<section class="bg-primary" id="video">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto text-center green">
                <h1>Sundsvall mot en grön stad</h1>
                <hr>
                <p>Detta är en plattform för att inspirera och sprida kunskap om en hållbar livsstil och ett hållbart boende.</p>
                <p>Läs mer om de globala målen
                <a style="color: blue;" target="_blank" href="http://globalamalen.se">Här!</a>
                </p>

            </div>
        </div>
    </div>
</section>


{{end}}
