{{define "eu"}}



        <section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            
                <div class="col-lg-4 col-sm-6">
                    <a href="#portfolioModal1" class="portfolio-box portfolio-link" data-toggle="modal">
                        <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                        
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    
                                        <div class="project-category text-faded">
                                            Web Development
                                        </div>
                                    
                                    
                                        <div class="project-name">
                                            Project 1
                                        </div>
                                    
                                </div>
                            </div>
                        
                    </a>
                </div>
            
                <div class="col-lg-4 col-sm-6">
                    <a href="#portfolioModal2" class="portfolio-box portfolio-link" data-toggle="modal">
                        <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                        
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    
                                        <div class="project-category text-faded">
                                            Web Development
                                        </div>
                                    
                                    
                                        <div class="project-name">
                                            Project 2
                                        </div>
                                    
                                </div>
                            </div>
                        
                    </a>
                </div>
            
                <div class="col-lg-4 col-sm-6">
                    <a href="#portfolioModal3" class="portfolio-box portfolio-link" data-toggle="modal">
                        <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                        
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    
                                        <div class="project-category text-faded">
                                            Web Development
                                        </div>
                                    
                                    
                                        <div class="project-name">
                                            Project 3
                                        </div>
                                    
                                </div>
                            </div>
                        
                    </a>
                </div>
            
                <div class="col-lg-4 col-sm-6">
                    <a href="#portfolioModal5" class="portfolio-box portfolio-link" data-toggle="modal">
                        <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                        
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    
                                        <div class="project-category text-faded">
                                            Web Development
                                        </div>
                                    
                                    
                                        <div class="project-name">
                                            Project 5
                                        </div>
                                    
                                </div>
                            </div>
                        
                    </a>
                </div>
            
                <div class="col-lg-4 col-sm-6">
                    <a href="#portfolioModal4" class="portfolio-box portfolio-link" data-toggle="modal">
                        <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                        
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    
                                        <div class="project-category text-faded">
                                            Web Development
                                        </div>
                                    
                                    
                                        <div class="project-name">
                                            Project 4
                                        </div>
                                    
                                </div>
                            </div>
                        
                    </a>
                </div>
            
                <div class="col-lg-4 col-sm-6">
                    <a href="#portfolioModal6" class="portfolio-box portfolio-link" data-toggle="modal">
                        <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                        
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    
                                        <div class="project-category text-faded">
                                            Web Development
                                        </div>
                                    
                                    
                                        <div class="project-name">
                                            Project 6
                                        </div>
                                    
                                </div>
                            </div>
                        
                    </a>
                </div>
            
        </div>
    </div>
</section>



{{template "footer" .}}
{{end}}

